<div id="main">
	<div class="palm-group">
		<div class="palm-group-title">Current Status</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="label left">B.A.C</div>
					<div id="currentBac" class="title right"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Time to limit</div>
					<div id="timeToLimit" class="title right"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Time to zero</div>
					<div id="timeToZero" class="title right"></div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="List" id="drinksList"></div>
</div>