<div class="palm-body-text" id="help">
<b>Better BAC Help</b>
Can't find the help you're looking for? Have a suggestion for this app? Let me know by
<a href="mailto:snewsoftware@gmail.com">emailing me</a>.</p>
<b>Main Scene</b>
<p>The main screen will show you four things:
<ul>
	<li>Your current estimated BAC</li>
	<li>The estimated time (in minutes) until your bac would be at zero</li>
	<li>The estimated time (in minutes) until your BAC would be at the legal limit that you set in the preferences screen (default = 0.08, which is the limit in all US states)</li>
	<li>A list of the drinks you have entered</li>
</ul>
</p>
<p>When open, the app will automatically update your status every 30 seconds. You may close the app, and it will
catch up the next time you open it.</p>
<p>As time passes, and your BAC decreases, the app will decrease the BAC of the oldest drink in your list until
it reaches zero. When a drink in your list reaches zero, it is considered "out of your system".</p>
<p>You can delete a drink by swiping it. When you delete a drink, it will be as if you had never entered that drink.</p>
<b>The drink list</b>
<p>Each drink in the list shows the following:
<ul>
	<li>Drink name (first row)</li>
	<li>Drink vol. / abv / B.A.C. added by this drink (second row left)</li>
	<li>The time the drink was entered (second row right)</li>
	<li>Your B.A.C. before and after having this drink (third row)</li>
</ul>
</p>
<b>Adding a drink</b>
<p>When you have a drink, register it by clicking the "Add" button at the bottom of the page.
This will take you to a scene that allows you to choose a drink from a list or enter a custom drink.</p>
<b>Have another</b>
<p>If you tap a drink in your drinks list, you will be taken to the custom drink page with all the fields pre-filled
based on the drink you tapped. <i>This creates a new duplicate drink. It does not edit the drink you tapped.</i></p>
</div>