<div class="palm-row"><div class="palm-row-wrapper"><div class="snew-row-wrapper">
	<div class="snew-detail-text">
		<div class="snew-left snew-detail-title truncating-text">
			#{nameFormatted}
		</div>
	</div>
	<div class="snew-detail-text">
		<div class="snew-right">
			#{timeFormatted}
		</div>
		<div class="snew-left">
			#{volFormatted} / #{abvFormatted}
		</div>
	</div>
	<div class="snew-detail-text snew-left">
		BAC when added: #{bacWhenAddedFormatted}<br>
		#{bacFormatted}
	</div>
</div></div></div>