<div class="palm-row"><div class="palm-row-wrapper"><div class="snew-row-wrapper">
	<div class="snew-detail-text">
		<div class="snew-left snew-detail-title truncating-text">
			#{nameFormatted}
		</div>
	</div>
	<div class="snew-detail-text">
		<div class="snew-right">
			#{timeFormatted}
		</div>
		<div class="snew-left">
			#{volFormatted} / #{abvFormatted} / #{origBacFormatted}
		</div>
	</div>
	<div class="snew-detail-text snew-left">
		BAC change when added: #{bacDeltaFormatted}<br>
		#{timeToProcessFormatted}
	</div>
</div></div></div>