.dashboard-icon-betterbac {
  background: url(../icon48.png);
}
.snew-all-centered{
	margin-top:116px;
	margin-left:auto;
	margin-right:auto;
}
.snew-row-wrapper{
	padding-top: 5px;
	padding-bottom: 5px;
}
.snew-detail-text{
	font-size: 75%;
}
.snew-detail-title{
	font-weight:bold;
}
.snew-left{
	margin-left: 5px;
}
.snew-right{
	float:right;
	margin-right:5px;
	text-align:right;
}