<div class="snew-user-manual">
	<h1>Estimating</h1>
	<p>Some alcoholic beverages list the ABV on the packaging, but if they do not, you may have to estimate.
	You may also be able to find the ABV via a search of the internet. Many popular American pilsners are
	4.3%. Craft beers range from 4% to 10%, but probably average somewhere around 5%. Wine is usually
	about 12%, but can vary by a few percent. Dessert wines usually have a higher ABV, around 18%.</p>

	<h1>"Proof" vs. "ABV"</h1>
	<p>ABV is 1/2 the "proof", so if you drink something that is "60 proof" then the ABV is 30%.</p>

	<h1>Alcohol by weight</h1>
	<p>Note that "Alcohol by Volume" is not the same as "Alcohol by Weight". If you only know the alcohol by weight
	you can multiply that by 1.25 to get the approximate alcohol by volume. That conversion is not exact because
	different liquids have different weights.</p>

	<h1>Mixed drinks</h1>
	<p>Calculating the ABV of a mixed drink can be difficult. One way to simplify is to ignore any
	non-alcoholic ingredients. For example, if you drink a Rum & Cola which consists of 2 oz. of 70 proof rum
	and 3 oz of cola, you could just enter "35" for the ABV and "2" for the volume.</p>
	
	<p>If your mixed drink has more than one alcoholic ingredient, you can calculate the ABV like so:
	<ol>
		<li>For each ingredient, multiply the volume of that ingredient by the ABV of that ingredient.
			This will give you the volume of pure alcohol for that ingredient.</li>
		<li>Add up the pure alcohol volume of each ingredient to get the volume of pure alcohol in the
			entire drink.</li>
		<li>Divide the volume of pure alcohol in the drink by the total volume of the drink. The result is
			the ABV of the drink.</li>
	</ol>
	<em>Example:</em><br>
	Suppose you are having a Margarita with 3 oz. tequila, 2 oz. triple sec, and 1 oz. lime juice.
	<ul>
		<li>3 oz. tequila * 0.4 ABV = 1.2 oz alcohol</li>
		<li>2 oz. triple sec * 0.15 ABV = 0.3 oz alcohol</li>
		<li>1 oz. lime juice has no alcohol.</li>
	</ul> 
	Adding up the pure alcohol, we have 1.2 + 0.3 = 1.5 oz pure alcohol in the entire drink. Since the
	drink is 5 oz total, we calculate the ABV of the drink as 1.5/5 = 0.30 = 30% Alcohol By Volume.</p>
</div>
