<div class="snew-user-manual">
	<p>About as accurate as a math equation can be when it simplifies an extremely complex biological process
	and generalizes it over very large populations. In all seriousness, the calculations used by this app
	are based on empirical studies, but every person is unique. There are a number of factors that could
	effect your BAC which are not accounted for by this app </p>
	
	<h1>Genetics</h1>
	<p>Your individual genetics play a significant role in how your body processes alcohol.  Tiny mutations
	that vary by race can change how effectively your body breaks down alcohol<sup>1</sup>.</p>
	
	<h1>Food</h1>
	<p>Alcohol is absorbed more slowly in your stomach than in your small intestine. If you have
	a lot of food in your stomach, the alcohol you drink will take longer to get to your small intestine
	and will spend more time being absorbed slowly in your stomach<sup>1,2,3</sup>.</p>
	
	<h1>Medication</h1>
	<p>Many medications can severely inhibit your body's ability to break down alcohol leading to a higher
	peak BAC and a longer period of intoxication. "In one 1990 study, the average blood alcohol levels of
	those who took two maximum strength aspirin tablets before drinking were an average of 26 percent higher
	than those who were aspirin-free"<sup>1</sup>. "Women on birth control pills will process alcohol slower
	than other women, because the hormones in the pill and alcohol both rely on the liver for
	processing."<sup>2</sup></p>
	
	<h1>Is your drink carbonated?</h1>
	<p>"If your drink is carbonated, the increased pressure in your stomach will force alcohol into your
	bloodstream faster."<sup>2</sup></p>
	
	<h1>Elimination Rate</h1>
	<p>All other factors being equal, the average natural rate of elimination (used by this app) is 0.015
	per hour. However, for some people this can be as low as 0.010 or as high as 0.018.<sup>3</sup></p>
	
	<h1>Vomit</h1>
	<p>"Vomiting directly after consumption may prevent some alcohol from entering the blood stream,
	but waiting too long will do little to reduce BAC."<sup>2</sup> Note that vomiting for the sole purpose of
	keeping your BAC low so that you can drink more would be a Bad Idea.</p>
	
	<h1>Tolerance</h1>
	<p>Frequent alcohol consumption makes your liver more efficient at processing it. This is called "Metabolic"
	tolerance, and it's different from "Functional" tolerance which diminishes the effects of alcohol, but not
	your BAC.<sup>3</sup> Having a tolerance is probably not a good thing for your health.</p>
	
	<h1>Sources</h1>
	<p>All sources retrieved on December 15th, 2010
	<ol>
		<li>
			What Alcohol Actually Does to Your Brain and Body
			(<a href="http://m.lifehacker.com/5684996/what-alcohol-actually-does-to-your-brain-and-body">
				Lifehacker.com	
			</a>)
		</li>
		<li>
			Effects of Alcohol on Your Body
			(<a href="http://www.princeton.edu/uhs/healthy-living/hot-topics/alcohol/">
				Princeton University Health Services	
			</a>)
		</li>
		<li>
			Alcohol Absorption, Distribution & Elimination
			(<a href="http://forcon.ca/learning/alcohol.html">
				FORCON Forensic Consulting	
			</a>)
		</li>
	</ol>
	</p>
</div>