<div class="snew-user-manual">
	<h1>Adding a preset drink</h1>
	<p>When you have a drink, register it by clicking the "Add" button at the bottom of the page.
	This will take you to a scene that allows you to choose a drink from a list or enter a custom drink.</p>

	<h1>Adding a custom drink</h1>
	<p>To add a custom drink, tap "Add" from the main screen, and then tap "Custom drink".</p>
	<p>This scene allows you to describe a drink you have consumed so that it can be incorporated into your
	BAC calculation.</p>
	
	<p>The Alcohol By Volume field is the percentage of the drink that is pure alcohol. Enter a number
	only--do not include the % sign. More information about finding a drink's ABV can be found in the
	"How do I know the ABV of my drink?" section of the User Manual.</p>
	
	<p>The volume field should be ounces if you are using imperial units or milliliters if you are using
	metric units. A typical bottled beer is 12 oz. or 355ml. A 750ml bottle of Wine is about 25 oz. A
	glass of wine is usually between 3 and 6 oz. (89-177ml). A standard "shot" in the U.S. is 1.5oz.</p>
	
	<p>The time field may be used if you had a drink a while ago, but forgot to enter it at the time. You
	may only enter a time going back 24 hours. If you enter a "future" time (e.g. it is 7:00pm and you enter
	8:00pm) then the drink will be interpreted as being from the previous day rather than later on in the
	current day. So in our example, that would be 8:00pm last night rather than 8:00pm later tonight.</p>

	<p>I suspect that if you crossed time zones between drinks, it would screw up your calculations, but I
	have neither the means nor the ambition to test this.</p>

	<p>You may use the "back" gesture to leave this scene and return to the main status screen without
	entering a new drink.</p>

	<h1>Have another</h1>
	<p>If you tap a drink in your drinks list, you will be taken to the custom drink page with all the fields pre-filled
	based on the drink you tapped. <em>This creates a new duplicate drink. It does not edit the drink you tapped.</em></p>
</div>
