<div class="snew-user-manual">
	<p>It depends on the calc method you choose in the preferences screen.</p>

	<h1>Widmark</h1>
	<p>This is the older and more widely recognized method.	Basically, this is the amount of pure
	alcohol in your drink divided across the percentage of your body that will contain alcohol when
	you	are intoxicated. Each drink increases your bac by (vol*abv)/(weight*r) where "r" is the
	"Widmark constant". The "Widmark constant" is the (estimated) fraction of the body mass in which
	alcohol would be present if it were distributed at concentrations equal to that	in blood. Based
	on empirical studies, it averages 0.68 for men and 0.55 for women.</p>

	<h1>Watson</h1>
	<p>This is a newer, potentially more precise method. Each drink increases your bac by (vol*abv)(0.80 / TBW)
	where 0.80 is the percentage water in blood and TBW is your "Total Body Water".	For men,
	TBW = 2.447-(0.09516*age)+(0.1074*height)+(0.3362*weight) For women,
	TBW = -2.097+(0.1069*height)+(0.2466*weight) Basically, this is the same as the Widmark method,
	but with a more complicated	estimation of the equivalent of the "Widmark constant".	No matter which
	calc method you choose, your BAC decreases by 0.015 per hour. The above explanations omit the unit
	conversions that need to be done.<p>

	<p>You might notice that age/height only matter for the Watson method, and even then age only matters for
	men. If you want more information, look for an article called "Prediction of Blood Alcohol Concentration
	in Human Subjects" by Watson et. al. As of December 13th, 2010,
	<a href="http://dionysus.psych.wisc.edu/lit/Articles/WatsonP1981a.pdf">the pdf</a>
	can be found on
	<a href="http://scholar.google.com/scholar?q=Watson+Prediction+of+Blood+Alcohol+Concentrations+in+Human+Subjects">Google Scholar</a>
	</p>

	<h1>The Code</h1>
	<p>If you are so inclined, you can read <a href="http://gitorious.org/better-bac/better-bac/blobs/master/src/javascript/bac-utils.js">the code</a>
	from this app that does the calculations. Please let me know if you find any mistakes.</p>
</div>