<div class="snew-detail-text">
<p>This scene allows you to enter information about yourself which will be used to calculate your BAC. There are also a few advanced settings
described below.</p>

<b>About you</b>
<p>Your height should be in total inches, so if you are 5'6" then you should enter "66".</p>
<p>Your weight should be in pounds.</p>
<p>My hope is that metric units will be supported in a future version.</p>

<b>Advanced settings</b>
<p>The limit field is used to specify the legal driving limit in your location. In every US state, the legal limit is 0.08. This will be used
to calculate your "time to limit" on the main status scene. Remember that all calculations are estimates and do not guarantee that you are
really safe to drive.</p>

<p>The Calc Method field specifies which mathematical formula should be used to determine your BAC. The "Widmark" method is based on the work
of a physician named Erik Widmark. This formula is the most well known and most widely used. The "Watson" method is based on the work of
Patricia E. Watson et al. in a paper called "Prediction of Blood Alcohol Concentrations in Human Subjects; Updating the Widmark Equation"
This paper was published in 1981, making it newer than the Widmark equation. Watson et al. found that their equation was slightly closer to
actual measured bac levels. This formula is not as well known as the Widmark equation.</p>

<p>The Max History Days field specifies how many days a drink should be kept in your history before being erased.</p>

<p>The Max History Items field specifies the maximum number of drinks that should be kept in History.</p>

<p>Your history is only cleaned up when you start the app</p>

<p>There are some edge cases in which your current BAC could be effected by a drink that was cleared from history, but as far as I can tell
these all involve a level of binge drinking that would render this app generally unuseful anyway.</p>

<p>The alarms setting specifies whether or not you want the app to notify you when your B.A.C. reaches your specified limit or zero.</p>
</div>
