<div class="snew-user-manual">
	<p>This scene allows you to enter information about yourself which will be used to estimate your BAC. There are also a few advanced settings
	described below.</p>

	<h1>About you</h1>
	<p>Your height should be in total inches if you are using imperial units or total centimeters if you are using metric units.
	So if you are 5'6" and you are using imperial units then you would enter "66"</p>
	<p>Your weight should be in pounds for imperial units or kilograms for metric units.</p>

	<h1>Advanced settings</h1>
	<p>You may set the "units" setting to either "Imperial" (inches, pounds, ounces) or "Metric" (centimeters, kilograms, milliliters).
	This determines what units you use to specify your height and weight as well as the default volume units for new drinks. You can 
	also change	volume units on a per drink basis.</p>
	<p>The limit field is used to specify a BAC that you would consider your "limit". It is used to calculate your "time to limit" on the main
	status screen. In every US state, the legal limit is 0.08, but remember that all calculations are estimates and do not guarantee that you are
	able to safely or legally operate a motor vehicle (or do anything else for that matter).</p>

	<p>The Calc Method field specifies which mathematical formula should be used to determine your BAC. The "Widmark" method is based on the work
	of a physician named Erik Widmark. This formula is the most well known and most widely used. The "Watson" method is based on the work of
	Patricia E. Watson et al. in a paper called "Prediction of Blood Alcohol Concentrations in Human Subjects; Updating the Widmark Equation"
	This paper was published in 1981, making it newer than the Widmark equation. Watson et al. found that their equation was slightly closer to
	actual measured bac levels. This formula is not as well known as the Widmark equation. More information about how your BAC is calculated can
	be found in the "How is my BAC calculated?" section of the User Manual.</p>

	<p>The Max History Days field specifies how many days a drink should be kept in your history before being erased.</p>

	<p>The Max History Items field specifies the maximum number of drinks that should be kept in History.</p>

	<p>Your history is only cleaned up when you start the app</p>

	<p>There are some edge cases in which your current BAC could be effected by a drink that was cleared from history, but as far as I can tell
	these all involve a level of binge drinking that would render this app generally unuseful anyway.</p>

	<p>The alarms setting specifies whether or not you want the app to notify you when your BAC reaches your specified limit or zero.</p>
</div>
