<div>
  <span id="import-drinks-title" class="palm-dialog-title">Updates found!</span>
  <div class="palm-group unlabeled">
    <div class="palm-list">
      <div class='palm-row first'>
        <div class="palm-row-wrapper">
        	<div x-mojo-element="CheckBox" id="newDrinksCheck"></div>
        	<div id="newDrinksText"/>
        </div>
      </div>
      <div class='palm-row last'>
        <div class="palm-row-wrapper">
        	<div x-mojo-element="CheckBox" id="updatedDrinksCheck"></div>
        	<div id="updatedDrinksText"/>
        </div>
      </div>
    </div>
  </div>
  <div x-mojo-element="Button" id="okButton"></div>
</div>