<div class="palm-body-text">
	<h3>This is important! Please read this message now since you will only see it once!</h3>
	<p>This app will <em>estimate</em> your Blood Alcohol Content (BAC). This app can not
	determine whether you are able to safely or legally operate a motor vehicle (or do anything
	else for that matter).</p>
	
	<p><strong>The only way to guarantee that you do not drive drunk is to either not drink at all
	or not drive at all.</strong></p>
	
	<p>Better BAC is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
	FOR A PARTICULAR PURPOSE.  See the <a href="http://www.gnu.org/licenses/gpl-3.0.html">
	GNU General Public License</a> for more details.</p>
	
	<p>For more information, choose "About" or "Help" in the app menu. </p>
</div>
