<div class="palm-body-text" id="help">
<b>New Drink Help</b>
<p>This scene allows you to describe a drink you have consumed so that it can be incorporated into your
BAC calculation.</p>

<p>The Alcohol By Volume field is the percentage of the drink that is pure alcohol. Enter a number
only--do not include the % sign.</p>

<p>Alcohol By Volume is not the same as alcohol by weight.</p>

<p>ABV is 1/2 the "proof", so if you drink something that is "60 proof" then the ABV is 30%.</p>

<p>Some alcoholic beverages list this value on the packaging, but if they do not, you may have to estimate.
You may also be able to find the ABV via a search of the internet. Many popular American pilsners are
4.3% ABV. Craft beers range from 4% to 10% abv, but probably average somewhere around 5%. Wine is usually
about 12%, but can vary by a few percent. Dessert wines usually have a higher ABV, around 18%.</p>

<p>Calculating the ABV of a mixed drink can be difficult. One way to simplify is to ignore any
non-alcoholic ingredients. For example, if you drink a Rum & Cola which consists of 2 oz. of 70 proof rum
and 3 oz of cola, you could just enter "35" for the ABV and "2" for the volume.</p>

<p>The volume field should be ounces. A typical bottled beer is 12 oz. A 750ml bottle of Wine is about
25 oz. A glass of wine is usually between 3 and 6 oz. A standard "shot" is 1.5oz.</p>

<p>The time field may be used if you had a drink a while ago, but forgot to enter it at the time. You
may only enter a time going back 24 hours. If you enter a "future" time (e.g. it is 7:00pm and you enter
8:00pm) then the drink will be interpreted as being from the previous day rather than later on in the
current day. So in our example, that would be 8:00pm last night rather than 8:00pm later tonight.</p>

<p>I suspect that if you crossed time zones between drinks, it would screw up your calculations, but I
have neither the means nor the ambition to test this.</p>

<p>You may use the "back" gesture to leave this scene and return to the main status screen without
entering a new drink.</p>
</div>