<div id="new-drink">
	<div class="palm-group"><div class="palm-group-title">New Drink Properties</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label right">Name</div>
						<div x-mojo-element="TextField" id="drinkNameField"></div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label right">A.B.V.</div>
						<div x-mojo-element="TextField" id="drinkAbvField"></div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="ToggleButton" id="drinkUnitToggle" class="right"></div>
						<div x-mojo-element="TextField" id="drinkVolField"></div>
					</div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="TimePicker" id="drinkTimePicker"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="Button" id="submitButton"></div>
	<div id="drinkInfo"></div>
</div>
