<div class="palm-group">
	<div class="palm-group-title">
		#{listTitle}
	</div>
	<div class="palm-list">
		<p>No drinks found!</p>
		
		<p>Try tapping the "Update" button to check for
		new drinks online!</p>
		
		<p>Still can't find it? You can tap the "Custom drink" button in the lower left corner of this screen to enter the values manually, but
		you'll need to know the ABV of the drink you're having. Some alcoholic beverages list this value on the packaging, but if they do not,
		you may have to estimate. Many popular American pilsners are 4.3% ABV. Craft beers range from 4% to 10% abv, but probably average
		somewhere around 5%. Wine is usually	about 12%, but can vary by a few percent. Dessert wines usually have a higher ABV, around 18%.
		Most liquors (vodka, rum, tequila, whiskey, etc.) are 40%</p>

		<p>Calculating the ABV of a mixed drink can be difficult. One way to simplify is to ignore any
		non-alcoholic ingredients. For example, if you drink a Rum & Cola which consists of 2 oz. of 70 proof rum
		and 3 oz of cola, you could just enter "35" for the ABV and "2" for the volume.</p>
		
		<p>You may also be able to find the ABV of your drink via a search of the internet. <a href="http://beeradvocate.com/">Beer Advocate</a>
		has the ABV for many beers.</p>
	</div>
</div>